name: LoreCraft
main: net.bless.lc.LoreCraft
description: When crafting an item, applies chance to get Lore & Name Change on them this plugin is meant to be applied with other plugins that apply lore stats.
version: @build.major@.@build.minor@.@build.revision@
builddate: @build.date-refer to version.properties for details@
author: Bless
